<div class="container">
  <div class="content-wrapper">
    <div class="search-bar">
      <input
        type="text"
        [(ngModel)]="searchTerm"
        placeholder="Search..."
      />
    </div>

    <app-items-list
      [items]="filteredItems$ | async"
      [selectedItems]="selectedItems"
      (edit)="onEdit($event)"
      (delete)="onDelete($event)"
      (toggleSelection)="toggleSelection($event.item, $event.selected)"
    >
    </app-items-list>
  </div>
  <div class="floating-buttons-container">
    <div
      class="floating-share-wrapper"
      *ngIf="selectedItems.size > 0"
      (click)="onShare()"
    >
      <button class="floating-button share">C</button>
      <span class="share-badge">{{ selectedItems.size }}</span>
    </div>

    <button class="floating-button add" (click)="openCreateModal()">+</button>
  </div>
</div>

<app-item-new
  *ngIf="showModal"
  [item]="selectedItem"
  (close)="closeModal()"
  (submit)="handleSubmit($event)"
>
</app-item-new>
