.container {
  background-color: #121212;
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: white;
}

app-items-list {
  width: 70%;
  margin: 0 auto;
}

.floating-button {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  background-color: #00c853;
  color: white;
  font-size: 2rem;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 200, 83, 0.5);
}